*

!go.mod
!go.sum
!cmd/
!cmd/**/*.go
!data/
!data/**/*.go
!data/**/*.json
!internal/
!internal/**/*.go
!internal/**/*.json
!migrations/
!migrations/**/*.go
!migrations/**/*.sql

**/*_test.go
**/testdata/
test/
