OBSERVABILITY_ALERTMANAGER_CONFIG=/etc/speakup/alertmanager.yml
OBSERVABILITY_GRAFANA_HOST=monitor.speak-up.top
OBSERVABILITY_GRAFANA_ADMIN_USER=speakup-admin
OBSERVABILITY_GRAFANA_ADMIN_PASSWORD_FILE=/etc/speakup/grafana-admin-password
